# ignore project files
.idea
.vscode

# ignore install files and dependecies, this comes with npm install
# TODO: fix dependencies with SAM codebuild stage
src/node_modules/
src/node_modules/*
src/package-lock.json
node_modules/
node_modules/*

# ignore .env file
.env

# ignore build files


# ignore SAM deploy files
.aws-sam
samconfig.toml
