# ignore project files
.idea

# ignore install files and dependecies, this comes with npm install
dependencies/node_modules
dependencies/package-lock.json

# ignore .env file
.env

# ignore build files


# ignore SAM deploy files
.aws-sam
samconfig.toml
